<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yang.authentication.authorization.authentication.mapper.AuthenticationHistoricalPasswordMapper">

    <resultMap id="BaseResultMap" type="cn.yang.authentication.authorization.authentication.dal.AuthenticationHistoricalPasswordDo">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="passwordHash" column="password_hash" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Query">
         id, user_id, password_hash, create_time, update_time
    </sql>

    <!-- 新增数据 -->
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.yang.authentication.authorization.authentication.dal.AuthenticationHistoricalPasswordDo" useGeneratedKeys="true">
        insert into authentication_historical_password (id, user_id, password_hash)
        values (
            #{id, jdbcType=VARCHAR},
            #{userId, jdbcType=VARCHAR},
            #{passwordHash, jdbcType=VARCHAR}     )
    </insert>

    <!-- 新增数据(过滤为空数据) -->
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.yang.authentication.authorization.authentication.dal.AuthenticationHistoricalPasswordDo" useGeneratedKeys="true">
        insert into authentication_historical_password
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="passwordHash != null">password_hash,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null and id != ''">#{id, jdbcType=VARCHAR},</if>
                <if test="userId != null and userId != ''">#{userId, jdbcType=VARCHAR},</if>
                <if test="passwordHash != null and passwordHash != ''">#{passwordHash, jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!--批量插入员工数据-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into authentication_historical_password(id, user_id, password_hash)
        values
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")" >
                #{item.id},
                #{item.userId},
                #{item.passwordHash}
        </foreach>
    </insert>

    <!-- 根据id查询数据 -->
    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Query"/> from authentication_historical_password
        where  id = #{id, jdbcType=VARCHAR}
    </select>

    <!-- 根据id修改数据(过滤为空数据) -->
    <update id="updateSelectiveById" parameterType="cn.yang.authentication.authorization.authentication.dal.AuthenticationHistoricalPasswordDo">
        update authentication_historical_password
        <set>
            <if test="userId != null and userId != ''">user_id = #{userId, jdbcType=VARCHAR},</if>
            <if test="passwordHash != null and passwordHash != ''">password_hash = #{passwordHash, jdbcType=VARCHAR},</if>
        </set>
        where id = #{id, jdbcType=VARCHAR}
    </update>

    <!-- 修改数据根据id -->
    <update id="updateById" parameterType="cn.yang.authentication.authorization.authentication.dal.AuthenticationHistoricalPasswordDo">
        update authentication_historical_password
        set 
            user_id =  #{userId, jdbcType=VARCHAR},
            password_hash =  #{passwordHash, jdbcType=VARCHAR}
        where id = #{id, jdbcType=VARCHAR}
    </update>

    <!-- 根据id删除数据 -->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from authentication_historical_password where id = #{id, jdbcType=VARCHAR}
    </delete>
</mapper>
