<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yang.authentication.authorization.authentication.mapper.AuthenticationPasswordMapper">

    <resultMap id="BaseResultMap"
               type="cn.yang.authentication.authorization.authentication.dal.AuthenticationPasswordDo">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <id property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="passwordType" column="password_type" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Query">
        id, user_id, password, password_type, create_time, update_time
    </sql>

    <!-- 新增数据 -->
    <insert id="insert">
        insert into user_authentication_password (id, user_id, password, password_type)
        values (
        #{id, jdbcType=VARCHAR},
        #{userId, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        #{passwordType, jdbcType=TINYINT} )
    </insert>

    <!--批量插入员工数据-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into user_authentication_password(id, user_id, password, password_type)
        values
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.id},
            #{item.userId},
            #{item.password},
            #{item.passwordType}
        </foreach>
    </insert>

    <!-- 根据用户id查询数据 -->
    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Query"/>
        from user_authentication_password
        where user_id = #{userId, jdbcType=VARCHAR}
    </select>

    <!-- 修改数据根据id -->
    <update id="updateById"
            parameterType="cn.yang.authentication.authorization.authentication.dal.AuthenticationPasswordDo">
        update user_authentication_password
        set password      = #{password, jdbcType=VARCHAR},
            password_type = #{passwordType, jdbcType=TINYINT}
        where id = #{id, jdbcType=VARCHAR}
    </update>

</mapper>
