<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yang.authentication.authorization.user.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="cn.yang.authentication.authorization.user.dal.PermissionDo">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="mark" column="mark" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Query">
         id, mark, description, create_time, update_time
    </sql>

    <!-- 新增数据 -->
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.yang.authentication.authorization.user.dal.PermissionDo" useGeneratedKeys="true">
        insert into permission (id, mark, description)
        values (#{id, jdbcType=VARCHAR},
                #{mark, jdbcType=VARCHAR},
                #{description, jdbcType=VARCHAR})
    </insert>

    <!-- 新增数据(过滤为空数据) -->
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.yang.authentication.authorization.user.dal.PermissionDo" useGeneratedKeys="true">
        insert into permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="mark != null">mark,</if>
                <if test="description != null">description,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id, jdbcType=VARCHAR},</if>
                <if test="mark != null">#{mark, jdbcType=VARCHAR},</if>
                <if test="description != null">#{description, jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!--批量插入权限数据-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into permission(id, mark, description)
        values
        <foreach collection="list" item="item" index="index" separator="," >
               ( #{item.id},
                #{item.mark},
                #{item.description})
        </foreach>
    </insert>

    <!-- 根据id查询数据 -->
    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Query"/> from permission
        where  id = #{id, jdbcType=VARCHAR}
    </select>

    <!-- 获取所有的权限列表 -->
    <select id="selectAllData" resultType="cn.yang.authentication.authorization.user.dal.PermissionDo">
        select <include refid="Base_Query"/> from permission
    </select>

    <!-- 根据权限标识列表获取权限数据 -->
    <select id="selectDataByMarks" resultType="cn.yang.authentication.authorization.user.dal.PermissionDo">
        select <include refid="Base_Query"/> from permission where mark in
        <foreach collection="list" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>

    <!-- 根据权限id列表获取权限数据 -->
    <select id="selectDataByIdList" resultType="cn.yang.authentication.authorization.user.dal.PermissionDo">
        select <include refid="Base_Query"/> from permission where id in
        <foreach collection="list" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>

    <!-- 根据id修改数据(过滤为空数据) -->
    <update id="updateSelectiveById" parameterType="cn.yang.authentication.authorization.user.dal.PermissionDo">
        update permission
        <set>
            <if test="mark != null and mark != ''">mark = #{mark, jdbcType=VARCHAR},</if>
            <if test="description != null and description != ''">description = #{description, jdbcType=VARCHAR},</if>
        </set>
        where id = #{id, jdbcType=VARCHAR}
    </update>

    <!-- 修改数据根据id -->
    <update id="updateById" parameterType="cn.yang.authentication.authorization.user.dal.PermissionDo">
        update permission
        set description = #{description, jdbcType=VARCHAR}
        where id = #{id, jdbcType=VARCHAR}
    </update>

    <!-- 批量修改权限数据 -->
    <update id="batchUpdateDate">
        <foreach collection="list" item="item" separator=";">
            update permission
            set description = #{item.description, jdbcType=VARCHAR}
            where id = #{item.id, jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 根据id删除数据 -->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from permission where id = #{id, jdbcType=VARCHAR}
    </delete>

    <!-- 根据id列表删除数据 -->
    <delete id="deleteByIdList">
        delete from permission where id in
        <foreach collection="list" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>
