<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yang.authentication.authorization.user.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="cn.yang.authentication.authorization.user.entity.RolePermission">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="permissionId" column="permission_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Query">
         id, role_id, permission_id
    </sql>

    <!--批量插入员工数据-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into role_permission (<include refid="Base_Query"/>)
        values
        <foreach collection="list" item="item" index="index" separator="," >
                (#{item.id},
                #{item.roleId},
                #{item.permissionId})
        </foreach>
    </insert>

    <!-- 根据角色id删除角色权限关联数据 -->
    <delete id="deleteByRoleId">
        delete
        from role_permission
        where role_id = #{roleId, jdbcType=BIGINT}
    </delete>

</mapper>
