<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yang.authentication.authorization.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.yang.authentication.authorization.user.dal.UserDo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="accountNonLocked" column="account_non_locked" jdbcType="TINYINT"/>
        <result property="lockedTime" column="locked_time" jdbcType="TIMESTAMP"/>
        <result property="enabled" column="enabled" jdbcType="TINYINT"/>
        <result property="createUserId" column="create_user_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Query">
        id, username, nickname, phone, email, account_non_locked,
         locked_time, enabled, create_user_id, create_time, update_user_id, update_time
    </sql>

    <!-- 新增数据 -->
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="cn.yang.authentication.authorization.user.dal.UserDo"
            useGeneratedKeys="true">
        insert into user (id, username, nickname, phone, email, account_non_locked, locked_time, enabled, create_user_id, update_user_id)
        values (
        #{id, jdbcType=VARCHAR},
        #{username, jdbcType=VARCHAR},
        #{nickname, jdbcType=VARCHAR},
        #{phone, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{accountNonLocked, jdbcType=TINYINT},
        #{lockedTime, jdbcType=TIMESTAMP},
        #{enabled, jdbcType=TINYINT},
        #{createUserId, jdbcType=BIGINT},
        #{updateUserId, jdbcType=BIGINT})
    </insert>

    <!-- 新增数据(过滤为空数据) -->
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="cn.yang.authentication.authorization.user.dal.UserDo" useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="nickname != null">nickname,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="accountNonLocked != null">account_non_locked,</if>
            <if test="lockedTime != null">locked_time,</if>
            <if test="enabled != null">enabled,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="updateUserId != null">update_user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=VARCHAR},</if>
            <if test="username != null">#{username, jdbcType=VARCHAR},</if>
            <if test="nickname != null">#{nickname, jdbcType=VARCHAR},</if>
            <if test="phone != null">#{phone, jdbcType=VARCHAR},</if>
            <if test="email != null">#{email, jdbcType=VARCHAR},</if>
            <if test="accountNonLocked != null">#{accountNonLocked, jdbcType=TINYINT},</if>
            <if test="lockedTime != null">#{lockedTime, jdbcType=TIMESTAMP},</if>
            <if test="enabled != null">#{enabled, jdbcType=TINYINT},</if>
            <if test="createUserId != null">#{createUserId, jdbcType=BIGINT},</if>
            <if test="updateUserId != null">#{updateUserId, jdbcType=BIGINT},</if>
        </trim>
    </insert>

    <!--批量插入员工数据-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into user (id, username, nickname, phone, email, account_non_locked, locked_time, enabled, create_user_id, update_user_id)
        values
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.id},
            #{item.username},
            #{item.nickname},
            #{item.phone},
            #{item.email},
            #{item.accountNonLocked},
            #{item.lockedTime},
            #{item.enabled},
            #{item.createUserId},
            #{item.updateUserId}
        </foreach>
    </insert>

    <!-- 根据id查询数据 -->
    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Query"/>
        from user
        where id = #{id, jdbcType=VARCHAR}
    </select>

    <!-- 获取分页查询数据 -->
    <select id="selectPageCount" resultType="java.lang.Integer">
        select count(1) from user
        <where>
            <if test="query.searchText != null and query.searchText != ''">
                nickname like concat('%', #{query.searchText, jdbcType=VARCHAR}, '%') or
                phone like concat('%', #{query.searchText, jdbcType=VARCHAR}, '%')
            </if>
            <if test="query.enabled != null">
                enabled = #{query.enabled, jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <!-- 分页查询数据 -->
    <select id="selectPageData" resultType="cn.yang.authentication.authorization.user.dal.UserDo">
        select
        <include refid="Base_Query"/>
        from user
        <where>
            <if test="query.searchText != null and query.searchText != ''">
                nickname like concat('%', #{query.searchText, jdbcType=VARCHAR}, '%') or
                phone like concat('%', #{query.searchText, jdbcType=VARCHAR}, '%')
            </if>
            <if test="query.enabled != null">
                enabled = #{query.enabled, jdbcType=TINYINT}
            </if>
        </where>
        limit #{query.offset}, #{query.size}
    </select>

    <!-- 根据用户名获取用户数据 -->
    <select id="selectByUsername" resultType="cn.yang.authentication.authorization.user.dal.UserDo">
        select
        <include refid="Base_Query"/>
        from user
        where username = #{username}
    </select>

    <!-- 根据手机号获取用户数据 -->
    <select id="selectByPhone" resultType="cn.yang.authentication.authorization.user.dal.UserDo">
        select
        <include refid="Base_Query"/>
        from user
        where phone = #{phone}
    </select>

    <!--  根据用户名 / 手机号 获取用户数据 -->
    <select id="selectByUsernameOrPhone" resultType="cn.yang.authentication.authorization.user.dal.UserDo">
        select
        <include refid="Base_Query"/>
        from user
        where phone = #{username} or username = #{username}
    </select>

    <!-- 根据id修改数据(过滤为空数据) -->
    <update id="updateSelectiveById" parameterType="cn.yang.authentication.authorization.user.dal.UserDo">
        update user
        <set>
            <if test="username != null and username != ''">username = #{username, jdbcType=VARCHAR},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname, jdbcType=VARCHAR},</if>
            <if test="phone != null and phone != ''">phone = #{phone, jdbcType=VARCHAR},</if>
            <if test="email != null and email != ''">email = #{email, jdbcType=VARCHAR},</if>
            <if test="accountNonLocked != null">account_non_locked = #{accountNonLocked, jdbcType=TINYINT},</if>
            <if test="lockedTime != null">locked_time = #{lockedTime, jdbcType=TIMESTAMP},</if>
            <if test="enabled != null">enabled = #{enabled, jdbcType=TINYINT},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId, jdbcType=BIGINT},</if>
        </set>
        where id = #{id, jdbcType=VARCHAR}
    </update>

    <!-- 修改数据根据id -->
    <update id="updateById" parameterType="cn.yang.authentication.authorization.user.dal.UserDo">
        update user
        set username       = #{username, jdbcType=VARCHAR},
            nickname       = #{nickname, jdbcType=VARCHAR},
            phone          = #{phone, jdbcType=VARCHAR},
            email          = #{email, jdbcType=VARCHAR},
            update_user_id = #{updateUserId, jdbcType=BIGINT},
        where id = #{id, jdbcType=VARCHAR}
    </update>

    <!-- 禁用 / 启用用户 -->
    <update id="disableEnableUser">
        update user
        set enabled        = #{user.enabled, jdbcType=TINYINT},
            update_user_id = #{user.updateUserId, jdbcType=BIGINT}
        where id = #{user.id, jdbcType=BIGINT}
    </update>

    <!-- 根据id删除数据 -->
    <delete id="deleteById" parameterType="java.lang.String">
        delete
        from user
        where id = #{id, jdbcType=VARCHAR}
    </delete>
</mapper>
